/* magnet 黑夜模式适配 */
[data-theme="dark"] .magnet_link_context {
    background: #1e1e1e;
    color: antiquewhite;
  }
  [data-theme="dark"] .magnet_link_context:hover {
    background: #3ecdf1;
    color: #f2f2f2;
  }
  