#starfield{
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;        /* ✅ 不用负数 */
  }
  
  html[data-theme="dark"] #starfield{
    display: block;
  }
  
  html[data-theme="light"] #starfield{
    display: none;
  }
  
  /* @media (max-width: 768px){
    #starfield{ display:none !important; }
  } */
  